body,
html {
  height: 100%;
  margin: 0;
  font: 700 15px/1.8 'Playfair Display', serif;
  scroll-behavior: smooth;
}

.scroll_bar {
  background-color: transparent;
  overflow-y: scroll;
}

.scroll_bar::-webkit-scrollbar {
  display: none;
}

html *::selection{
  background-color: #a7ab5f;
  color: #fff;
}

a {
  color: #a7ab5f;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*IMAGENS*/
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.80;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("https://rede1mulheresnegras.my.canva.site/site-de-portf-lio-e-curr-culo-consultoria-escuro-simples-azul-escuro-e-bege/images/62cf1b99c81df242aa4f1221154038cc.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://rede1mulheresnegras.my.canva.site/site-de-portf-lio-e-curr-culo-consultoria-escuro-simples-azul-escuro-e-bege/images/ac3fa62f6509b3fbd3b69658954cab50.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://img.freepik.com/free-photo/close-up-green-bush_1162-53.jpg?w=740&t=st=1667749000~exp=1667749600~hmac=9d59d5cc61404aaa76631fa47e91890296ced89fd6527b068693f3f748860767");
  min-height: 400px;
}

/*LANDING PAGE*/
.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.caption span.title {
  background-color: #a7ab5f;
  color: #fff;
  padding: 30px;
  font-size: 40px;
  letter-spacing: 10px;
}

.caption p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 20px 100px;
  color: #fff;
  background-color: #a7ab5f;
  margin-top: 30px;
}

h3 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
  font-weight: 800;
}

.about,
.whatWeDo,
.whyWeDo,
.descarbonizacao,
.aguaReutilizada {
  color: rgb(92, 92, 92);
  background-color: #fff;
  font-size: 22.5px;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
  font-weight: 500;
  font-family: 'Lato', serif;
}

.caption span.topic {
  background-color: transparent;
  font-size: 35px;
  color: #f7f7f7;
}

.italic {
  font-style: italic;
}

/* ICONS */
.icon {
  margin-right: 15px;
  margin-bottom: 35px;
}

@media (max-width: 600px) {
  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .caption span.title {
    background-color: #a7ab5f;
    color: #fff;
    padding: 18px;
    font-size: 35px;
    letter-spacing: 10px;
    margin: 0;
  }

  .caption p {
    margin: 0;
  }

  .about,
  .whatWeDo,
  .whyWeDo,
  .descarbonizacao,
  .aguaReutilizada {
    text-align: justify;
  }

}